extend index-layout

block content
    body
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            .container-fluid
            
          ul.nav.navbar-nav.navbar-right
              li
                a(href='/')
                  span.glyphicon.glyphicon-home
                  |  Home
              li
                a(href='register')
                  span.glyphicon.glyphicon-user
                  |  Sign Up
              li
                a(href='login')
                  span.glyphicon.glyphicon-log-in
                  |  Login
              li
                a(href='cart')
                  span.glyphicon.glyphicon-shopping-cart
                  |  Checkout
              li
                a(href='wishlist')
                  span.glyphicon.glyphicon-heart
                  |  Wishlist
              li
                a(href='order')
                  span.glyphicon.glyphicon-calendar
                  |  Orders
      h1 Atom Super Division
      #searchbar
      #container
        ul#item-list
    #item
      
      #pagination
